/* Links
--------------------------------------------------*/

a {
  color: $default-link;
  text-decoration: none;
  outline: 0;
  &:visited {
    color: $default-link;
    text-decoration: underline;
    outline: 0;
  }
  &:hover{
    text-decoration: underline;
  }
  @include hoverActiveFocus(color, $default-link-hover);
  &[rel="external"] {
    color: $default-link;
  }
}