<!--
Here you can include any variables that you would like to call, 
either in this document or inside any of you includes.

Please do not remove any files included from the admin folder.
-->

{{include admin/html-header.html}}

	<!-- Place your CSS files here
	================================================== -->
  	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet", href="stylesheets/pattern.min.css">

	<!-- Modernize older versions of IE
	 ================================================== -->
     {{include admin/older-ie-scripts.html}}

</head><!-- @head -->
<body>

<!-- Place patterns to include in portfolio after this comment -->

{{include admin/header.html}}

<main class="patterns container" role="main">

	{{include patterns/color-palette.html}}
    {{include patterns/typography.html}}	
	{{include patterns/text.html}}
	{{include patterns/avatars.html}}
	{{include patterns/lists.html}}
	
</main><!-- @patterns -->

{{include navigation.html}}

{{include admin/footer.html}}	
{{include admin/html-footer.html}}