<!--
Add your project avatars or icon sizes to this section. To manipulate the sizes of each avatar, open 'public/stylesheets/patterns/_variables' and edit the default avatar variables. Run Grunt and the new sizes should take effect. 

Avatar sizing has been done in em. 
-->
<section class="avatars">
	<h4 class="admin-h4">Avatars</h4>
	
	<div class="pattern">
		<div class="pattern-preview">
			<ul class="pattern-list">
				<li>
					<img class="img-lg" src="https://s3.amazonaws.com/uifaces/faces/twitter/edgarchris99/128.jpg">
					128x128
				</li>
				<li>	
					<img class="img-medium" src="https://s3.amazonaws.com/uifaces/faces/twitter/edgarchris99/73.jpg">
					70x70
				</li>
				<li>
					<img class="img-small" src="https://s3.amazonaws.com/uifaces/faces/twitter/edgarchris99/48.jpg">
					48x48
				</li>
				<li>
					<img class="img-tiny" src="https://s3.amazonaws.com/uifaces/faces/twitter/edgarchris99/24.jpg">
					24x24
				</li>	
		</div>	
	</div>
	
</section>	