<!--
Add your project color palette to this file. To display a swatch color 
for each, please the HEX, RGB, RGBA value in the <span> inline CSS attribute. 

For example: <span class="swatch-preview" style="background-color: #62a935"></span> 

Then list the values below.

For example:
<li class="color-list-item">
	<span class="swatch-preview" style="background-color: #5ba4e5;"></span>
	<ul>
		<li class="lead"><strong>Light Blue</strong></li>
		<li>rgb(91, 164, 229)</li>
		<li>#5ba4e5</li>
		<li>$color-lightblue</li>
	</ul>	
</li>
-->
<section class="colors">
	<h4 class="admin-h4">Colors</h4>
	<h3 class="admin-h3">Primary Palette</h3>
	<ul class="color-list">
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: [Insert color];"></span>
			<ul>
				<li class="lead"><strong>Color Name</strong></li>
				<li>[rgb breakdown]</li>
				<li>[hex color]</li>
				<li>[Sass variable name]</li>
			</ul>	
		</li>
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: [Insert color];"></span>
			<ul>
				<li class="lead"><strong>Color Name</strong></li>
				<li>[rgb breakdown]</li>
				<li>[hex color]</li>
				<li>[Sass variable name]</li>
			</ul>
		</li>
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: [Insert color];"></span>
			<ul>
				<li class="lead"><strong>Color Name</strong></li>
				<li>[rgb breakdown]</li>
				<li>[hex color]</li>
				<li>[Sass variable name]</li>
			</ul>
		</li>
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: [Insert color];"></span>
			<ul>
				<li class="lead"><strong>Color Name</strong></li>
				<li>[rgb breakdown]</li>
				<li>[hex color]</li>
				<li>[Sass variable name]</li>
			</ul>
		</li>
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: [Insert color];"></span>
			<ul>
				<li class="lead"><strong>Color Name</strong></li>
				<li>[rgb breakdown]</li>
				<li>[hex color]</li>
				<li>[Sass variable name]</li>
			</ul>
		</li>
	</ul>	

<!--
The secondary palette is optional. If your project doesn't require 
a secondary set of colors, please comment out or remove from this file.

However, if you have any variations on the primary colors like different 
hues, tints, etc, then it's worth putting them in the secondary color palette  
-->
	<h3 class="admin-h3">Secondary Palette</h3>
	<ul class="color-list">
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: [Insert color];"></span>
			<ul>
				<li class="lead"><strong>Color Name</strong></li>
				<li>[rgb breakdown]</li>
				<li>[hex color]</li>
				<li>[Sass variable name]</li>
			</ul>	
		</li>
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: [Insert color];"></span>
			<ul>
				<li class="lead"><strong>Color Name</strong></li>
				<li>[rgb breakdown]</li>
				<li>[hex color]</li>
				<li>[Sass variable name]</li>
			</ul>
		</li>
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: [Insert color];"></span>
			<ul>
				<li class="lead"><strong>Color Name</strong></li>
				<li>[rgb breakdown]</li>
				<li>[hex color]</li>
				<li>[Sass variable name]</li>
			</ul>
		</li>
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: [Insert color];"></span>
			<ul>
				<li class="lead"><strong>Color Name</strong></li>
				<li>[rgb breakdown]</li>
				<li>[hex color]</li>
				<li>[Sass variable name]</li>
			</ul>
		</li>
		<li class="color-list-item">
			<span class="swatch-preview" style="background-color: [Insert color];"></span>
			<ul>
				<li class="lead"><strong>Color Name</strong></li>
				<li>[rgb breakdown]</li>
				<li>[hex color]</li>
				<li>[Sass variable name]</li>
			</ul>
		</li>
	</ul>	
</section>