<section class="lists">
	<h4 class="admin-h4">Lists</h4>
	<h3 class="admin-h3">Squared</h3>
	<div class="pattern">
		<ul class="square">
			<li>List Item</li>
			<li>List Item</li>
			<li>List Item</li>
		</ul>
	</div>	
		<h3 class="admin-h3">Circle</h3>
	<div class="pattern">
		<ul class="circle">
			<li>List Item</li>
			<li>List Item</li>
			<li>List Item</li>
		</ul>
	</div>
	
		<h3 class="admin-h3">Disc</h3>
	<div class="pattern">
		<ul class="disc">
			<li>List Item</li>
			<li>List Item</li>
			<li>List Item</li>
		</ul>
			
	</div>
		<h3 class="admin-h3">Ordered List</h3>
	<div class="pattern">
		<ol class="list-ordered">
			<li class="list-ordered-item">List Item</li>
			<li class="list-ordered-item">List Item</li>
			<li class="list-ordered-item">List Item</li>
		</ol>	
	</div>
	
	<h3 class="admin-h3">List Bordered</h3>
	<div class="pattern">
		<ul class="list-bordered">
			<li class="list-bordered-item">List Item</li>
			<li class="list-bordered-item">List Item</li>
			<li class="list-bordered-item">List Item</li>
		</ul>	
	</div>
</section>		