<section class="text">
	<h4 class="admin-h4">Text</h4>
	<div class="pattern">
		<details>
			<summary>abbr</summary>
			<code class="pattern-markup  language-markup"><span class="token tag"><span class="token punctuation">&lt;</span>p<span class="token punctuation">&gt;</span>The<span class="token tag"><span class="token punctuation">&lt;</span>abbr title="World Wide Web Consortium"<span class="token punctuation">&gt;</span></span>W3C<span class="token tag"><span class="token punctuation">&lt;/</span>abbr</span><span class="token punctuation">&gt;</span></span> is an international community that develops open<br/> standards to ensure the long-term growth of the Web.<span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span></code>
		</details>
		<div class="pattern-preview">
			<p>The <abbr title="World Wide Web Consortium">W3C</abbr> is an international community that develops open standards to ensure the long-term growth of the Web.</p>
		</div>
	</div>
	
	<div class="pattern">
		<details>
			<summary>address</summary>
			<code class="pattern-markup  language-markup"><span class="token tag"><span class="token punctuation">&lt;</span>address<span class="token punctuation">&gt;</span></span>For more details, please contact <span class="token tag"><span class="token punctuation">&lt;</span>a href="mailto:chris@chrisdasie.com"</span><span class="token punctuation">&gt;</span>Chris Da Sie</span><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token punctuation">&lt;/</span>address</span><span class="token punctuation">&gt;</span></span></code>
		</details>
		<div class="pattern-preview">
			<address>For more details, please contact <a href="mailto:chrisdasie.com">Chris Da Sie</a></address>
		</div>
	</div>	
	
	<div class="pattern">
		<details>
			<summary>blockquote</summary>
			<code class="pattern-markup  language-markup"><span class="token tag"><span class="token punctuation">&lt;</span>blockquote</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>Details matter, it’s worth waiting to get it right.<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>blockquote</span><span class="token punctuation">&gt;</span></span></code>
		</details>
		<div class="pattern-preview">
			<blockquote>
				<p>Details matter, it’s worth waiting to get it right.</p>
			</blockquote>
		</div>
	</div>
	
	<div class="pattern">
		<details>
			<summary>cite</summary>
			<code class="pattern-markup  language-markup"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>cite</span><span class="token punctuation">&gt;</span></span>Globe &amp; Mail<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>cite</span><span class="token punctuation">&gt;</span>, Feb 12, 2014</span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span></code>
		</details>
		<div class="pattern-preview">
			<p>
				<cite>Globe &amp; Mail</cite>, Feb 12, 2014
			</p>
		</div>
	</div>
	
	<div class="pattern">
		<details>
			<summary>del</summary>
			<code class="pattern-markup  language-markup"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>I currently work at <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>del</span><span class="token punctuation">&gt;</span></span>The Idea Factory<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>del</span><span class="token punctuation">&gt;</span> Chris Da Sie Designs</span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span></code>
		</details>
		<div class="pattern-preview">
			<p>
				I currently work at <del>The Idea Factory</del> Chris Da Sie Designs.
			</p>
		</div>
	</div>
	
</section>