<!--
Add your project heading typography to this file. These styles will be inherit of your typography set in your CSS file. 

-->

<section class="headings">
	<h4 class="admin-h4">Headings</h4>
	<div class="pattern">
		<details>
			<summary>h1</summary>
			<code class="pattern-markup  language-markup"><span class="token tag"><span class="token punctuation">&lt;</span>h1<span class="token punctuation">&gt;</span></span>A H1 heading style<span class="token tag"><span class="token punctuation">&lt;/</span>h1</span><span class="token punctuation">&gt;</span></span></code>
		</details>
		<div class="pattern-preview">
			<h1>A H1 heading style</h1>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h2</summary>
			<code class="pattern-markup  language-markup"><span class="token tag"><span class="token punctuation">&lt;</span>h2<span class="token punctuation">&gt;</span></span>A H2 heading style<span class="token tag"><span class="token punctuation">&lt;/</span>h2</span><span class="token punctuation">&gt;</span></span></code>
			</details>
		<div class="pattern-preview">
			<h2>A H2 heading style</h2>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h3</summary>
			<code class="pattern-markup  language-markup"><span class="token tag"><span class="token punctuation">&lt;</span>h3<span class="token punctuation">&gt;</span></span>A H3 heading style<span class="token tag"><span class="token punctuation">&lt;/</span>h3</span><span class="token punctuation">&gt;</span></span></code>
		</details>
		<div class="pattern-preview">
			<h3>A H3 heading style</h3>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h4</summary>
			<code class="pattern-markup  language-markup"><span class="token tag"><span class="token punctuation">&lt;</span>h4<span class="token punctuation">&gt;</span></span>A H4 heading style<span class="token tag"><span class="token punctuation">&lt;/</span>h4</span><span class="token punctuation">&gt;</span></span></code>
		</details>
		<div class="pattern-preview">
			<h4>A H4 heading style</h4>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h5</summary>
			<code class="pattern-markup  language-markup"><span class="token tag"><span class="token punctuation">&lt;</span>h5<span class="token punctuation">&gt;</span></span>A H5 heading style<span class="token tag"><span class="token punctuation">&lt;/</span>h5</span><span class="token punctuation">&gt;</span></span></code>
		</details>
		<div class="pattern-preview">
			<h5>A H5 heading style</h5>
		</div>	
	</div>
	<div class="pattern">
		<details>
			<summary>h6</summary>
			<code class="pattern-markup  language-markup"><span class="token tag"><span class="token punctuation">&lt;</span>h6<span class="token punctuation">&gt;</span></span>A H6 heading style<span class="token tag"><span class="token punctuation">&lt;/</span>h6</span><span class="token punctuation">&gt;</span></span></code>
		</details>
		<div class="pattern-preview">
			<h6>A H6 heading style</h6>
		</div>	
	</div>
</section>	